// Index image
.index-img {
  padding: 10rem 6rem;
  color: #fff;
  text-align: center;
  background-size: cover;
  h1 a {
    color: white;
  }
  h3 a {
    color: white;
  }
}

@media screen and (min-width: 64em) {
  .index-img {
    padding: 10rem 6rem;
    h1 { font-size: 3.25rem; };
    h3 { font-size: 1.5rem; } } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .index-img {
    padding: 7rem 4rem; 
    h1 { font-size: 3.0rem; };
    h3 { font-size: 1.5rem; } } }

@media screen and (max-width: 42em) {
  .index-img {
    padding: 2rem 1rem; 
    h1 { font-size: 2.5rem; };
    h3 { font-size: 1.0rem; } } }

// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
